@model Quiz.Web.DTO.Models.DashBoardDetailsView
@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #dvUserSearch {
        padding: 10px;
        background-color: #becfff;
    }

    #dvDashboardText {
        margin-bottom: 30px;
    }

    .headingText {
        font-size: 22px;
        color: #000;
        font-weight: 600;
    }

    span.count {
        font-size: 30px;
        color:#fff;
    }
    span.category {
        position: relative;
        top: -6px;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 600;
        color:#fff;
    }
    span.catIcon {
        color: #fff;
        font-size: 40px;
        margin-top: 0px;
        position: relative;
        top: 11px;
    }
    #dvScheduled {
       
        padding: 13px;
        background-clip: content-box;
    }
    #dvCompleted {
        padding: 13px;
       
        background-clip: content-box;
    }
    #dvSingleLogin {
        padding: 13px;
       
        background-clip: content-box;
    }
    #dvStrongConsider {
        padding: 13px;
       
        background-clip: content-box;
    }
    #dvInProgress {
        padding: 13px;
        
        background-clip: content-box;
    }
    #dvBulkLogin {
        padding: 13px;
         
        background-clip: content-box;
    }
    #dvExpired {
        padding: 13px;
        
        background-clip: content-box;
    }
    #dvPending {
        padding: 13px;
        
        background-clip: content-box;
    }
    #dvCommonLogin {
        padding: 13px;
         
        background-clip: content-box;
    }
    .seperator {
        margin-bottom: 20px;
    }
    .dsImage
    {
       float:right;
       margin-top:13px;
    }
</style>
<script src="~/Scripts/Code_Js/DashBoard.js"></script>
<script>
    var months = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'];
    $(document).ready(function () {
        
        displayTodayDate();
        $('#EndDate').datepicker({
            dateFormat: 'yy/mm/dd',
            changeMonth: true,
            changeYear: true

        });
        $('#StartDate').datepicker({
            dateFormat: 'yy/mm/dd',
            changeMonth: true,
            changeYear: true

        });
        $('#btnCreate').click(function () {
            window.location = "/AssessMent/CreateAssessment";
        });
        //$('#StartDate').change(function () {
        //    var tstdt;
        //    var splitDate = $('#StartDate').val().split('/');
        //    var getDay = splitDate[2];
        //    var getMonth = splitDate[1];
        //    var getYear = splitDate[0];
        //    var ele = "1|2|3|4|5|6|7|8|9";
        //    if (ele.indexOf(getDay) > -1) {
        //        tstdt = getYear + '/' + getMonth + '/0' + getDay;
        //    }
        //    else {
        //        tstdt = getYear + '/' + getMonth + '/' + getDay;
        //    }
        //    $('#StartDate').val(tstdt);
        //});
        //$('#EndDate').change(function () {
        //    var tstdt;
        //    var splitDate = $('#EndDate').val().split('/');
        //    var getDay = splitDate[2];
        //    var getMonth = splitDate[1];
        //    var getYear = splitDate[0];
        //    var ele = "1|2|3|4|5|6|7|8|9";
        //    if (ele.indexOf(getDay) > -1) {
        //        tstdt = getYear + '/' + getMonth + '/0' + getDay;
        //    }
        //    else {
        //        tstdt = getYear + '/' + getMonth + '/' + getDay;
        //    }
        //    $('#EndDate').val(tstdt);
        //});
    });
    function displayTodayDate() {
        debugger;
        var param1 = new Date();
        var From_Date = param1.getFullYear() + '/' + months[param1.getMonth()] + '/' + param1.getDate();
        var To_Date = param1.getFullYear() + '/' + months[param1.getMonth()] + '/' + param1.getDate();
        $('#StartDate').val(From_Date);
        $('#EndDate').val(To_Date);        

    }
</script>
<div class="col-md-12">
    <div class="row" id="dvDashboardText"> <span class="headingText">Dashboard</span> <button type="button" id="btnCreate" class="btn btn-primary pull-right">Create New Assessment</button> </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="well clearfix" id="dvUserSearch">
            <div class="col-md-4">
                <select class="form-control">
                    <option>User</option>
                </select>
            </div>
            <div class="col-md-4">
                <input id="StartDate" type="text" class="form-control" />
                @*<input type="text" class="form-control" id="txtFromDate" />*@
            </div>
            <div class="col-md-4">
                <input id="EndDate" type="text" class="form-control" />
                @*<input type="text" class="form-control" id="txtToDate" />*@
            </div>
        </div>
    </div>
    <div class="row">
        <div class="">
            <label>Create new assesments </label>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search keyword..">
                <span class="input-group-btn">
                    <button class="btn btn-default ds_darkBlue" type="button" onclick="DashBoardFetch()" ><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        @*<div class="input-group date">
            <input type="text" class="form-control" value="12-02-2012">
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
            </div>
        </div>*@
    </div>
        <div class="clearfix seperator"></div>
        <div class="row">
            <div class="col-md-4 ds_Scheduled" id="dvScheduled">
                <div class="col-md-6"><span id="Scheduled" class="count">@Model.Scheduled</span></div> <div class="col-md-6"><img class="dsImage" style="width:55px;" src="~/Content/Icons/Schedule.png" /> </div>
                <div class="col-md-12">     <span class="category">scheduled</span></div>
            </div>
            <div class="col-md-4 ds_Completed" id="dvCompleted">
                <div class="col-md-6"><span id="Completed" class="count">@Model.Completed</span></div> <div class="col-md-6"> <img class="dsImage" style="width:51px;" src="~/Content/Icons/Completed.png" /> </div>
                <div class="col-md-12">     <span class="category">Completed</span></div>
            </div>
            <div class="col-md-4 ds_SingleLogin" id="dvSingleLogin">
                <div class="col-md-6"><span id="SingleLogin" class="count">@Model.SingleLogin</span></div> <div class="col-md-6"> <img class="dsImage" style="width:42px;" src="~/Content/Icons/Single Login.png" /> </div>
                <div class="col-md-12">     <span class="category">single login</span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 ds_StrongConsider" id="dvStrongConsider">
                <div class="col-md-6"><span id="StrongConsider" class="count">@Model.StrongConsider</span></div> <div class="col-md-6"> <img class="dsImage" style="width:53px;" src="~/Content/Icons/Strong Consider.png" /> </div>
                <div class="col-md-12">     <span class="category">strong consider</span></div>
            </div>
            <div class="col-md-4 ds_InProgress" id="dvInProgress">
                <div class="col-md-6"><span id="InProgress" class="count">@Model.InProgress</span></div> <div class="col-md-6"> <img class="dsImage" style="width:69px;" src="~/Content/Icons/In Progress.png" /> </div>
                <div class="col-md-12">     <span class="category">in progress</span></div>
            </div>
            <div class="col-md-4 ds_BulkLogin" id="dvBulkLogin">
                <div class="col-md-6"><span id="BulkLogin" class="count">@Model.BulkLogin</span></div> <div class="col-md-6"> <img class="dsImage" style="width:65px;" src="~/Content/Icons/BulkLogin.png" /> </div>
                <div class="col-md-12">     <span class="category">bulk login</span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 ds_Expired" id="dvExpired">
                <div class="col-md-6"><span id="Expired" class="count">@Model.Expired</span></div> <div class="col-md-6"> <img class="dsImage" style="width:60px;" src="~/Content/Icons/Expired.png" /> </div>
                <div class="col-md-12">     <span class="category">expired</span></div>
            </div>
            <div class="col-md-4 ds_Pending" id="dvPending">
                <div class="col-md-6"><span id="Pending" class="count">@Model.Pending</span></div> <div class="col-md-6"> <img class="dsImage" style="width:50px;" src="~/Content/Icons/Pending.png" /></div>
                <div class="col-md-12">     <span class="category">pending</span></div>
            </div>
            <div class="col-md-4 ds_CommonLogin" id="dvCommonLogin">
                <div class="col-md-6"><span id="CommonLogin" class="count">@Model.CommonLogin</span></div> <div class="col-md-6"> <img class="dsImage" style="width:51px;" src="~/Content/Icons/Common Login.png" /> </div>
                <div class="col-md-12">     <span class="category">common login</span></div>
            </div>
        </div>
    </div>
