@model List<Quiz.Web.DTO.Models.UsersDetailsModel>
@{
    ViewBag.Title = "UserManagementList";
}
<script>
    $(document).ready(function () {
        $('#UsersDetailview').DataTable();
    });
    function downloadTemplate() {
        //debugger;
        window.open('@Url.Action("DownloadTemplate", "UserManagement")', "_blank", "", true);
    }

</script>

<div class="container-fluid">
    <table class="form-group" id="UsersDetailview">
        <thead>
            <tr>
                <td><b>NAME</b></td>
                <td><b>EMAIL</b></td>
                <td><b>MOBILE NUMBER</b></td>
                <td><b>DEGREE</b></td>
                <td><b>INSTITUTION</b></td>
                <td><b>PERCENTAGE</b></td>
                <td><b>GENDER</b></td>
                <td><b>ADDRESS</b></td>
                <td>
                    Action
                </td>
            </tr>
        </thead>

        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td id="@item.Id">
                        @item.Name
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @item.MobileNumber
                    </td>
                    <td>
                        @item.Degree/@item.Major
                    </td>
                    <td>
                        @item.Institution
                    </td>
                    <td>
                        @item.Percentage
                    </td>
                    <td>
                        @item.Gender
                    </td>
                    <td>
                        @item.Address
                    </td>
                    <td>
                        <a onclick="GetUserEdit('@item.Id')">Edit</a> /
                        <a onclick="UserDelete('@item.Id')">Delete</a>
                    </td>
                </tr>

            }
        </tbody>

    </table>
</div>


<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Update User</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="UserId" />
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" id="Name" onblur="inputfocus(this)" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" id="Email" class="form-control" rows="7" cols="30" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>MobileNumber</label>
                        <input type="text" id="MobileNumber" class="form-control" rows="7" cols="30" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Degree</label>
                        <input type="text" id="Degree" class="form-control" rows="7" cols="30" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Institution</label>
                        <input type="text" id="Institution" class="form-control" rows="7" cols="30" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Percentage</label>
                        <input type="text" id="Percentage" class="form-control" rows="7" cols="30" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Gender</label>
                        <input type="text" id="Gender" class="form-control" rows="7" cols="30" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Address</label>
                        <input type="text" id="Address" class="form-control" rows="7" cols="30" />
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label>SSLC Passed Out Year</label>
                        <input type="text" id="SSLCPassedOutYear" class="form-control" rows="7" cols="30" />
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label>SSLC Percentage</label>
                        <input type="text" id="SSLCPercentage" class="form-control" rows="7" cols="30" />
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label>SSLC Board Name</label>
                        <input type="text" id="SSLCBoardName" class="form-control" rows="7" cols="30" />
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Technical Skills</label>
                        <input type="text" id="TechnicalSkills" class="form-control" rows="7" cols="30" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>HSC Percentage</label>
                        <input type="text" id="HSCPercentage" class="form-control" rows="7" cols="30" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" id="LastName" class="form-control" rows="7" cols="30" />
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label>DOB</label>
                        <input type="text" id="DOB" class="form-control" rows="7" cols="30" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>State</label>
                        <input type="text" id="State" class="form-control" rows="7" cols="30" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Degree Passed Out Year</label>
                        <input type="text" id="DegreePassedOutYear" class="form-control" rows="7" cols="30" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>HSC Board Name</label>
                        <input type="text" id="HSCBoardName" class="form-control" rows="7" cols="30" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>HSC Passed Out Year</label>
                        <input type="text" id="HSCPassedOutYear" class="form-control" rows="7" cols="30" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <button class="btn btn-primary" id="UpdateUser">Update</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>


    $(document).ready(function () {


        $("#UpdateUser").click(function () {

            var UserId = $("#UserId").val();
            var Name = $("#Name").val();
            var Email = $("#Email").val();
            var MobileNumber = $("#MobileNumber").val();
            var Degree = $("#Degree").val();
            var Institution = $("#Institution").val();
            var Percentage = $("#Percentage").val();
            var Gender = $("#Gender").val();
            var Address = $("#Address").val();
            var SSLCPassedOutYear = $("#SSLCPassedOutYear").val();
            var SSLCPercentage = $("#SSLCPercentage").val();
            var SSLCBoardName = $("#SSLCBoardName").val();
            var TechnicalSkills = $("#TechnicalSkills").val();
            var HSCPercentage = $("#HSCPercentage").val();
            var LastName = $("#LastName").val();
            var DOB = $("#DOB").val();
            var State = $("#State").val();
            var DegreePassedOutYear = $("#DegreePassedOutYear").val();
            var HSCBoardName = $("#HSCBoardName").val();
            var HSCPassedOutYear = $('#HSCPassedOutYear').val();
            var Flag = true;


            if (!Name) {
                $("#Name").addClass("error-highlight");

                Flag = false;
            }
            if (!Email) {

                Flag = false;
            }
            if (!MobileNumber) {

                Flag = false;
            }
            if (!Degree) {

                Flag = false;
            }
            if (!Institution) {

                Flag = false;
            }
            if (!Percentage) {

                Flag = false;
            }
            if (!Gender) {

                Flag = false;
            }
            if (!Address) {

                Flag = false;
            }

                data = {
                    Id: UserId,
                    Name: Name,
                    Email: Email,
                    MobileNumber: MobileNumber,
                    Degree: Degree,
                    Institution: Institution,
                    Percentage: Percentage,
                    Gender: Gender,
                    Address: Address,
                    SSLCPassedOutYear: SSLCPassedOutYear,
                    SSLCPercentage: SSLCPercentage,
                    SSLCBoardName: SSLCBoardName,
                    TechnicalSkills: TechnicalSkills,
                    HSCPercentage: HSCPercentage,
                    LastName: LastName,
                    DOB: DOB,
                    State: State,
                    DegreePassedOutYear: DegreePassedOutYear,
                    HSCBoardName: HSCBoardName,
                    HSCPassedOutYear: HSCPassedOutYear
            }
            if (Flag) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("UpdateUser", "UserManagement")',
                    contentType: "application/json",
                    dataType: "json",
                    data: JSON.stringify(data),
                    success: function (Result) {
                        if (Result.Result == true) {
                            alert("User Updated Succesfully");
                        }
                        else {
                            alert("Update Failed");
                        }
                        window.location.reload();
                    },
                    error: function (xhr, status, p3, p4) {
                        var err = "Error " + " " + status + " " + p3 + " " + p4;
                        if (xhr.responseText && xhr.responseText[0] == "{")
                            err = JSON.parse(xhr.responseText).Message;

                    },
                    cache: false
                });
            }
            else {
                return;
            }
        });
    });



    function UserDelete(UserId) {

        //confirm("Are you Sure to delete Question ");

        if (confirm("Are you Sure to Delete this User ")) {
            $.ajax({
            type: "GET",
                url: '@Url.Action("UserDelete", "UserManagement")?UserId=' + UserId,
            contentType: false,
            processData: false,
            async: false,
                success: function (Result) {
                    if (Result.Result == true) {

                        alert("User Deleted Succesfully.");

                        window.location.reload();
                }
            },
            error: function (xhr, status, p3, p4) {
                var err = "Error " + " " + status + " " + p3 + " " + p4;
                if (xhr.responseText && xhr.responseText[0] == "{")
                    err = JSON.parse(xhr.responseText).Message;

            },
            cache: false
        });
        }

    }


        function GetUserEdit(UserId) {

        $.ajax({
            type: "GET",
            url: '@Url.Action("UserEdit", "UserManagement")?UserId=' + UserId,
            contentType: false,
            processData: false,
            async: false,
            success: function (result) {
                if (result) {

                    $("#myModal").modal("show");
                    $("#UserId").val(result.Id);
                    $("#Name").val(result.Name);
                    $("#Email").val(result.Email);
                    $("#MobileNumber").val(result.MobileNumber);
                    $("#Degree").val(result.Degree);
                    $("#Institution").val(result.Institution);
                    $("#Percentage").val(result.Percentage);
                    $("#Gender").val(result.Gender);
                    $("#SSLCPassedOutYear").val(result.SSLCPassedOutYear);
                    $("#SSLCPercentage").val(result.SSLCPercentage);
                    $("#SSLCBoardName").val(result.SSLCBoardName);
                    $("#TechnicalSkills").val(result.TechnicalSkills);
                    $("#HSCPercentage").val(result.HSCPercentage);
                    $("#LastName").val(result.LastName);
                    $("#DOB").val(result.DOB);
                    $("#State").val(result.State);
                    $("#DegreePassedOutYear").val(result.DegreePassedOutYear);
                    $("#HSCBoardName").val(result.HSCBoardName);
                    $('#HSCPassedOutYear').val(result.HSCPassedOutYear);
                }
            },
            error: function (xhr, status, p3, p4) {
                var err = "Error " + " " + status + " " + p3 + " " + p4;
                if (xhr.responseText && xhr.responseText[0] == "{")
                    err = JSON.parse(xhr.responseText).Message;

            },
            cache: false
        });

    }


    </script>
