@model IEnumerable<Quiz.Web.DTO.Models.QuestionBankDetail>
<script>
    $(document).ready(function () {
        $('#QuestionBank').DataTable();
    });
</script>
<div class="container-fluid">
    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Add Users</button>
    <h3>Update Question Bank</h3>
    <table class="table" id="QuestionBank">
        <thead>
            <tr>
            <td>
                Question Bank
            </td>
            <td>
                Question Bank Description
            </td>
            <td>
                Duration
            </td>
            <td>
                Modified Date
            </td>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                <a href="@Url.Action("QuestionsList","QuestionBank",new { QuestionBankId = item.ID})">@item.QuestionBankName</a>
            </td>
            <td>
                @item.Description
            </td>
            <td>
                @item.Duration
            </td>
            <td>
                @item.ModifiedDate
            </td>
        </tr>
        }

    </table>
</div>

@*<div class="container-fluid">
    
    <div class="form-group">
        <label>Question Bank Title</label>
        <input type="text" class="form-control" id="txtQuestionBankTitle" placeholder="Enter Question Bank Name" />
    </div>
    <div class="form-group">
        <label>Question Bank Description</label>
        <textarea id="txtQuestionBankDescription" class="form-control" rows="7" cols="30"></textarea>
    </div>
    <div class="form-group">
        <input type="file" class="form-control-file" id="flQuestionUpload" />
    </div>
    <div class="form-group">
        <label>Status</label>
        <select id="ddlStatusQuestionBank" class="form-control">
            <option value="ACTIVE">Active</option>
            <option value="NOTACTIVE">Not Active</option>
        </select>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" id="btnUpdateQuestionBank">Update</button>
    </div>
</div>*@

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Question Bank</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Question Bank Title</label>
                    <input type="text" class="form-control" id="txtQuestionBankTitle" placeholder="Enter Question Bank Name" />
                </div>
                <div class="form-group">
                    <label>Question Bank Description</label>
                    <textarea id="txtQuestionBankDescription" class="form-control" rows="7" cols="30"></textarea>
                </div>
                <div class="form-group">
                    <input type="file" class="form-control-file" id="flQuestionUpload" />
                </div>
                <div class="form-group">
                    <label>Status</label>
                    <select id="ddlStatusQuestionBank" class="form-control">
                        <option value="ACTIVE">Active</option>
                        <option value="NOTACTIVE">Not Active</option>
                    </select>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" id="btnUpdateQuestionBank">Update</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        $("#btnUpdateQuestionBank").click(function () {

            var questionBankName = $("#txtQuestionBankTitle").val();
            var questionBankDescription = $("#txtQuestionBankDescription").val();
            var status = $("#ddlStatusQuestionBank").val();
            var finalStatus = false;
            if (status == "ACTIVE") {
                finalStatus = true;
            }
            
            var data = new FormData();
            for (var x = 0; x < ContactFile.length; x++) {
                data.append("file" + x, ContactFile[x]);
            }
            ;
                $.ajax({
                        type: "POST",
                        url: '@Url.Action("UploadQuestionBank", "QuestionBank")?QuestionBankName=' + questionBankName + '&Duration=' + null + '&Description=' + questionBankDescription + '&Status=' + finalStatus,
                        contentType: false,
                        processData: false,
                        data: data,
                        beforeSend: function () {

                            uploaded = 1;
                        },
                        complete: function () {

                        },
                        success: function (result) {
                            debugger;
                            if (result.Result == "Failed") {
                                //
                            }
                            else {
                                if (result.Message == "Contacts Uploaded Successfully") {
                                    //
                                }
                            }
                        },
                        error: function (xhr, status, p3, p4) {
                            var err = "Error " + " " + status + " " + p3 + " " + p4;
                            if (xhr.responseText && xhr.responseText[0] == "{")
                                err = JSON.parse(xhr.responseText).Message;

                        },
                        cache: false
                    })
    })

            })

</script>
