@model List<Quiz.Web.DTO.Models.MyAssesmentModal>

@{
    ViewBag.Title = "LoadMyAssesments";
}

<h2 class="tableHeaderBlue">My Assesments</h2>
 
<script>
    

        function DeleteAssessment(AssessmentID) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("DeleteAssesment", "AssessMent")?AssesmentId=" + AssessmentID,
                success: function (data) {
                    if (data == "Success") {
                        window.location.reload();
                    }
                }
            });
        }
 
</script>

<div class="row">
    <table class="table table-striped">

        <tbody>

            @foreach (var items in Model)
            {
                <tr>
                    <td>
                        @items.AssesmentName
                    <br />
                    Assessment Sections: @items.AssesmentSection<br />
                    Test Duration: @items.totaltimeDuration<br />
                    Created By:@items.CreatedBy<br />
                    Last modified: @items.LastModified<br />
                    Credits:@items.Credits<br />


                    </td>
                    <td>@items.Scheduled </td>
                    <td>@items.Completed</td>
                    <td>@items.StrongConsider</td>
                    <td>@items.MayConsider</td>
                    <td><a> Candidate Details</a>                       
                    </td>
                    
                    <td> <a id="btnLnkDeleteOrEdit" href="#" onclick="DeleteAssessment('@items.AssesmentId')"> <i class="fa fa-trash-o" style="color:red"></i> </a></td>
                     
                </tr>

            }


        </tbody>


    </table>

</div>